/*Подключение шрифтов*/

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed');
@font-face {
	font-family: Elz;
	src: url('../Fonts/Elz.ttf');
}


/*Создание анимации*/

@keyframes Text_color {
	from {
		color: black;
	}
	to {
		color: red;
	}
}


/*Вид страницы*/

.main_page {
	margin: 0 auto;
	height: 100%;
	width: 1000px;
	background: linear-gradient(to bottom left, #fff, #fdbea2);
	position: relative;
	padding: 4px;
}


/*Характеристика меню*/

#page_menu {
	width: 170px;
	height: 408px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #fdbea2;
}


/*Отображение пунктов меню*/

.Elem_Menu#one {
	margin-top: 100px;
	width: 170px;
	border-top: 2px solid bisque;
	border-bottom: 1px solid bisque;
	font-family: 'Lobster', cursive;
}

.Elem_Menu {
	width: 170px;
	border-top: 1px solid bisque;
	border-bottom: 1px solid bisque;
	font-family: 'Lobster', cursive;
}


/*Вид названий пунктов меню*/

.Elem_Menu a {
	display: block;
	padding: 20px;
	color: white;
	font-size: 22px;
	text-decoration: none;
}


/*Вид пункта меню при наведении на него*/

.Elem_Menu a:hover {
	color: black;
	background-color: #fdbea2;
}


/* Cкрываем чекбокс и блок с содержанием */

.mark_menu_appearance {
	display: none;
}

.mark_menu_appearance + label ~ div#page_menu {
	display: none;
}


/* Значек "меню" */

.mark_menu_appearance + label[for="navi"] {
	position: absolute;
	left: 10px;
	top: 25px;
	z-index: 2;
	height: 30px;
	width: 30px;
	cursor: pointer;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
}


/* Когда чекбокс активен показываем блоки с содержанием  */

.mark_menu_appearance:checked + label + div#page_menu {
	display: block;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background-image: url(../image/pattern.png);
}


/*Характеристика заголовка страницы*/

h2 {
	margin-left: 170px;
	margin-top: 15px;
	font-size: 50px;
	font-family: Elz;
	width: 260px;
	text-align: center;
}


/*Кликабельность и размещение логотипа*/

a img,
#Logo {
	width: 90px;
	height: 90px;
	position: absolute;
	left: 75px;
	border-radius: 100%;
	border: 10px solid white;
}


/*Характеристика и анимация текста "Акция!"*/

#stock {
	position: absolute;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	left: 680px;
	top: 27px;
	font-size: 16px;
	animation-name: Text_color;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

span {
	font-size: 30px;
	font-family: Elz;
	font-weight: 700;
}


/*Характеристика заголовка "Звоните"*/

h3 {
	margin-top: 30px;
	width: 220px;
	font-size: 60px;
	color: red;
	font-family: Elz;
	margin-left: 100px;
	animation-name: Text_color;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}


/*Параметры телефонных номеров*/

#phone_numbers {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 30px;
	width: 250px;
	margin-left: 100px;
}


/*Характеристика ссылки "Напишите в ВК"*/

#link_VK {
	position: absolute;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 30px;
	color: red;
	left: 90px;
	width: 205px;
	height: 42px;
	font-weight: 600;
	top: 367px;
	text-decoration: none;
}


/*Характеристика текста "Заполните поля и т.д."*/

#Forms {
	margin-top: -170px;
	font-size: 30px;
	width: 350px;
	color: red;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	margin-left: 600px;
}


/*Характеристика поля "Введите Ваше имя"*/

input[type="text"] {
	margin-left: 750px;
	margin-top: 50px;
	line-height: 35px;
	border-radius: 5px;
	font-size: 16px;
	font-family: cursive;
}


/*Характеристика лейблов "Введите Ваш номер и т.д."*/

input[type="text"]+label {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 22px;
	margin-left: -355px;
}


/*Характеристика ссылки "Моя группа в ВК"*/

#link_groupVK {
	position: absolute;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 30px;
	color: red;
	left: 90px;
	width: 205px;
	font-weight: 600;
	top: 454px;
	text-decoration: none;
}


/*Вид кнопки "Отправить"*/

#Send {
	position: absolute;
	margin-top: 130px;
	width: 120px;
	height: 30px;
	margin-left: 15px;
	border-radius: 5px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 20px;
	background: linear-gradient(to bottom left, white, #fdbea2);
	border: 1px solid black;
}


/*Вид кнопки при нажатии на нее*/

#Send:active {
	background: linear-gradient(to top left, white, #fdbea2);
}


/*Характеристика знака в "ВК"*/

img#VK {
	border-radius: 0;
	border: 0;
	width: 35px;
	height: 35px;
	margin-top: 135px;
	margin-left: 185px;
}

img#VK1 {
	border-radius: 0;
	border: 0;
	width: 20px;
	height: 20px;
	margin-top: 70px;
	margin-left: 200px;
}

i.material-icons {
	font-size: 40px;
	position: absolute;
	left: 155px;
}


/*Вид текста, о разработчике проекта*/

#Develop {
	width: 400px;
	margin-left: 580px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 22px;
}


/*Размер и размещение линии*/

hr {
	width: 500px;
	margin-left: 490px;
	margin-top: 270px;
}